<%- include('partials/header', { title: 'Home' }) %>

    <body>
        <div class="wrapper ">
            <!-- Bottom Navbar -->
            <%- include('partials/navbar') %>

                <div class="main p-3" style="height: 100vh; overflow-y:auto">
                    <div class="text-center">
                        <h1>
                            Student List
                        </h1>

                        <nav class="navbar bg-body-tertiary"
                            style="background-color: rgba(240, 248, 255, 0) !important;">
                            <div class="container-fluid">
                                <a class="navbar-brand"></a>
                                <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Search"
                                        aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </div>
                        </nav>

                        <div class="container">
                            <div>

                                <table class="table table-responsive table-hover ">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Father Name</th>

                                            <th scope="col">SRN NO</th>
                                            <th scope="col">PEN No</th>
                                            <th scope="col">Admission</th>
                                            <th scope="col">Class</th>
                                            <th scope="col">Sec</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let count=1 %>
                                            <% studentlist.forEach(student=>{ %>
                                                <tr>
                                                    <th scope="row">
                                                        <%= count %>
                                                    </th>

                                                    <td>
                                                        <%=student.full_name.toUpperCase() %>
                                                    </td>
                                                    <td>
                                                        <%=student.father_name.toUpperCase() %>
                                                    </td>

                                                    <td>
                                                        <%=student.srn_no.toUpperCase() %>
                                                    </td>
                                                    <td>
                                                        <%=student.pen_no.toUpperCase() %>
                                                    </td>
                                                    <td>
                                                        <%=student.admission_no.toUpperCase() %>
                                                    </td>
                                                    <td>
                                                        <%=student.class.toUpperCase() %>
                                                    </td>
                                                    <td>
                                                        <%=student.section.toUpperCase() %>
                                                    </td>


                                                    <td><a href="student-profile/<%= student.student_id %>"><img
                                                                src="/image/edit.png" alt="edit" width="20px"></a></a>
                                                    </td>
                                                    <% count++ %>
                                                </tr>
                                                <%})%>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>

                </div>
        </div>

        <%- include('partials/footer') %>