<%- include('partials/header', { title: 'Home' }) %>



    <body>
        <div class="wrapper">
            <!-- Bottom Navbar -->
            <%- include('partials/navbar') %>

                <div class="main p-3" style="height: 100vh; overflow-y:auto; background-color: #f3f7fe;">
                    <h1 class="text-center mb-0">Student Profile</h1>
                    <hr>

                    <section>
                        <form action="/student-profile/<%= student ? student.student_id : 'N/A'  %>" method="post"
                            enctype="multipart/form-data">
                            <div class="container py-2">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="card mb-4 shadow-sm" style="width: 100%;">
                                            <div class="card-body text-center">
                                                <% if (student ? student.photo : false) { %>
                                                    <img src="data:image/jpeg;base64,<%= student.photo %>"
                                                        id="showStudentPic" class="rounded-circle img-fluid" alt="..."
                                                        width="150px" height="150px">
                                                    <% } else { %>
                                                        <img src="/image/graduated.png" id="showStudentPic"
                                                            class="rounded-circle img-fluid" alt="..." width="150px"
                                                            height="150px">
                                                        <% } %>
                                                            <!-- Student Name -->
                                                            <h5 class="my-3">
                                                                <%= student ? student.full_name : 'N/A' %>
                                                            </h5>
                                                            <hr>

                                                            <div class="mb-2 col-12">

                                                                <input type="file" name="userPhoto" accept="image/*"
                                                                    class="form-control" aria-label="file example"
                                                                    id="selectUserFile">
                                                                <div class="invalid-feedback">Example invalid form file
                                                                    feedback
                                                                </div>
                                                            </div>


                                            </div>
                                        </div>

                                        <div class="card mb-4 shadow-sm" style="width: 100%;">
                                            <div class="card-body text-center">

                                                <!-- Upload PDF      -->
                                                <h5 class="my-1">Upload Document</h5>
                                                <h6 class="my-2">One PDF only, max size - 16 MB</h6>
                                                <hr>

                                                <div class="mb-2 col-12">

                                                    <input type="file" name="userPhoto" accept=".pdf"
                                                        class="form-control" aria-label="file example" id="documentPDF">

                                                    <div class="invalid-feedback">Example invalid form file
                                                        feedback
                                                    </div>
                                                </div>

                                                <div class="d-flex justify-content-center mb-2">
                                                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                                        class="btn btn-primary" id="uploadPDFBtn">Upload PDF</button>

                                                    <button type="button" id="deletePDF" data-mdb-button-init
                                                        data-mdb-ripple-init class="btn btn-outline-danger ms-1">Delete
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-8" style="display: flex; justify-content:center;">
                                        <div class="card mb-5 shadow-sm" style="margin-bottom: 20px; width:100%;">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <label for="fullName" class="form-label">Full Name</label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <input name="full_name" type="text" class="form-control"
                                                            id="fullName"
                                                            value="<%= student ? student.full_name : '' %>">
                                                    </div>
                                                </div>
                                                <hr>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <label for="fatherName" class="form-label">Father's Name</label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <input name="father_name" type="text" class="form-control"
                                                            id="fatherName"
                                                            value="<%= student ? student.father_name : '' %>">
                                                    </div>
                                                </div>
                                                <hr>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <label for="MotherName" class="form-label">Mother's Name</label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <input name="mother_name" type="text" class="form-control"
                                                            id="MotherName"
                                                            value="<%= student ? student.mother_name : '' %>">
                                                    </div>
                                                </div>
                                                <hr>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <label for="Email" class="form-label">Email</label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <input name="email" type="email" class="form-control" id="Email"
                                                            value="<%= student ? student.email : '' %>">
                                                    </div>
                                                </div>
                                                <hr>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <label for="phone" class="form-label">Phone</label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <input name="phone_no" type="text" class="form-control"
                                                            id="phone" value="<%= student ? student.phone_no : '' %>">
                                                    </div>
                                                </div>
                                                <hr>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <label for="zip" class="form-label">Zip</label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <input name="zip" type="text" class="form-control" id="zip"
                                                            value="<%= student ? student.zip : '' %>">
                                                    </div>
                                                </div>
                                                <hr>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <label for="village" class="form-label">H No</label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <input name="house_no" type="text" class="form-control"
                                                            id="village" value="<%= student ? student.house_no : '' %>">
                                                    </div>
                                                </div>
                                                <hr>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <label for="state" class="form-label">State</label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <select class="form-select" name="state" id="validationState"
                                                            required>
                                                            <option selected
                                                                value="<%= student ? student.state : '' %>">
                                                                <%= student ? student.state : '' %>
                                                            </option>
                                                            <!-- adding states through ping -->
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <label for="district" class="form-label">District</label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <select class="form-select" name="district"
                                                            id="validationDistrict" required>
                                                            <option selected
                                                                value="<%= student ? student.district : '' %>">
                                                                <%= student ? student.district : '' %>
                                                            </option>
                                                            <!-- adding states through ping -->
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <label for="gender" class="form-label">Gender</label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <select class="form-select" name="gender"
                                                            aria-label="Default select example" id="selectGender">
                                                            <option selected
                                                                value="<%= student ? student.gender : '' %>">
                                                                <%= student ? student.gender : '' %>
                                                            </option>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <label for="srnNo" class="form-label">SRN No</label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <input name="srn_no" type="text" class="form-control" id="srnNo"
                                                            value="<%= student ? student.srn_no : '' %>">
                                                    </div>
                                                </div>
                                                <hr>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <label for="penNo" class="form-label">PEN NO</label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <input name="pen_no" type="text" class="form-control" id="penNo"
                                                            value="<%= student ? student.pen_no : '' %>">
                                                    </div>
                                                </div>
                                                <hr>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <label for="admissionNo" class="form-label">Admission No</label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <input name="admission_no" type="text" class="form-control"
                                                            id="admissionNo"
                                                            value="<%= student ? student.admission_no : '' %>">
                                                    </div>
                                                </div>
                                                <hr>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <label for="class" class="form-label">Class</label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <input name="studentClass" type="text" class="form-control"
                                                            id="class" value="<%= student ? student.class : '' %>">
                                                    </div>
                                                </div>
                                                <hr>

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <label for="section" class="form-label">Section</label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <input name="section" type="text" class="form-control"
                                                            id="section" value="<%= student ? student.section : '' %>">
                                                    </div>
                                                </div>
                                                <br><br>

                                                <div class="d-flex justify-content-center mb-2">
                                                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                                        class="btn btn-primary" id="editStudentBtn">Update
                                                        Student</button>

                                                    <button type="button" id="stdDeleteBtn" data-mdb-button-init
                                                        data-mdb-ripple-init class="btn btn-outline-danger ms-1">Delete
                                                    </button>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
        </div>
        <div class="alert alert-warning" role="alert" style="position: absolute; top: 20px; right:20px; display:none;"
            id="userPhotoMessage">

        </div>
    </body>

    <script src="/edit_profile.js"></script>
    <%- include('partials/footer') %>