<%- include('partials/header', { title: 'Home' }) %>

    <body>
        <div class="wrapper ">
            <!-- Bottom Navbar -->
            <%- include('partials/navbar') %>

                <div class="main p-3" style="height: 100vh; overflow-y:auto">
                    <div class="text-center">
                        <h1>
                            Student List
                        </h1>

                        <nav class="navbar bg-body-tertiary"
                            style="background-color: rgba(240, 248, 255, 0) !important;">
                            <div class="container-fluid">
                                <button class="btn btn-primary" type="button" id="getExcelFile" data-toggle="tooltip"
                                    data-placement="top" title="Download all Student data in Excel file.">
                                    Get Excel

                                </button>
                                <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Search"
                                        aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </div>
                        </nav>

                        <div class="container">
                            <div>

                                <table class="table table-responsive table-hover ">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Father Name</th>

                                            <th scope="col">SRN NO</th>
                                            <th scope="col">PEN No</th>
                                            <th scope="col">Admission</th>
                                            <th scope="col">Class</th>
                                            <th scope="col">Sec</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let count=1 %>
                                            <% studentlist.forEach(student=>{ %>
                                                <span style="cursor: pointer;">
                                                    <tr>
                                                        <th scope="row">
                                                            <%= count %>
                                                        </th>

                                                        <td>
                                                            <%=student.full_name.toUpperCase() %>
                                                        </td>
                                                        <td>
                                                            <%=student.father_name.toUpperCase() %>
                                                        </td>

                                                        <td>
                                                            <%=student.srn_no.toUpperCase() %>
                                                        </td>
                                                        <td>
                                                            <%=student.pen_no.toUpperCase() %>
                                                        </td>
                                                        <td>
                                                            <%=student.admission_no.toUpperCase() %>
                                                        </td>
                                                        <td>
                                                            <%=student.class.toUpperCase() %>
                                                        </td>
                                                        <td>
                                                            <%=student.section.toUpperCase() %>
                                                        </td>


                                                        <td><a href="student-profile/<%= student.student_id %>"><img
                                                                    src="/image/edit.png" alt="edit" width="20px"></a>
                                                            </a>
                                                        </td>
                                                        <% count++ %>
                                                    </tr>
                                                </span>

                                                <%})%>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>

                </div>
        </div>

        <script>
            document.getElementById('getExcelFile').addEventListener('click', async () => {
                document.getElementById("getExcelFile").innerHTML = `<span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    Loading...`;
                try {
                    const response = await fetch('/get-excel-student');
                    if (response.ok) {
                        const blob = await response.blob();
                        const url = window.URL.createObjectURL(blob);
                        const a = document.createElement('a');
                        a.href = url;
                        a.download = 'students.xlsx';
                        document.body.appendChild(a);
                        a.click();
                        document.body.removeChild(a);
                    } else {
                        alert('Failed to download file');
                    }

                } catch (error) {
                    console.error('Error downloading file:', error);
                    alert('Error downloading file');
                } finally {
                    document.getElementById("getExcelFile").innerHTML = `Get Excel`;
                }

            });
        </script>

        <%- include('partials/footer') %>