<%- include('partials/header', { title: 'Home' }) %>

    <body>
        <div class="wrapper ">
            <!-- Bottom Navbar -->
            <%- include('partials/navbar') %>

                <div class="main p-3" style="height: 100vh; overflow-y:auto">
                    <div class="text-center">
                        <h1>
                            Student List
                        </h1>

                        <nav class="navbar bg-body-tertiary">
                            <div class="container-fluid">
                                <a class="navbar-brand"></a>
                                <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Search"
                                        aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </div>
                        </nav>

                        <div class="container">
                            <div>

                                <table class="table table-responsive table-hover ">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First</th>
                                            <th scope="col">Last</th>
                                            <th scope="col">Handle</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let count=1 %>
                                            <% while (count<=100) { %>
                                                <tr>
                                                    <th scope="row">
                                                        <%= count %>
                                                    </th>
                                                    <td>Mark</td>
                                                    <td>Otto</td>
                                                    <td>@mdo</td>
                                                    <td><a href="edit/<%= count %>"><img src="/image/edit.png"
                                                                alt="edit" width="20px"></a></a>
                                                    </td>
                                                    <% count++ %>
                                                </tr>
                                                <% } %>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>

                </div>
        </div>

        <%- include('partials/footer') %>